<%-contentFor('content') %>
<main class="container">
    <h1 class="main-title">Contact</h1>
    <form action="/contact" method="POST" id="contact-form">
        <div class="contact-form-group">
            <div class="contact-input">
                <label for="pseudo">pseudo</label>
                <div>
                    <input type="text" name="pseudo" id="pseudo" required />
                </div>
            </div>
            <div class="contact-input">
                <label for="email">email</label>
                <div>
                    <input type="email" name="email" id="email" required />
                </div>
            </div>
        </div>
        <div class="contact-form-group">
            <div class="contact-input">
                <label for="first_name">first name</label>
                <div>
                    <input type="text" name="first_name" id="first_name" />
                </div>
            </div>
            <div class="contact-input">
                <label for="last_name">last name</label>
                <div>
                    <input type="text" name="last_name" id="last_name" />
                </div>
            </div>
        </div>
        <div class="contact-input">
            <label for="message">Message</label>
            <div>
                <textarea rows="4" name="message" id="message" required></textarea>
            </div>
        </div>

        <button type="submit" class="btn-form">Send</button>
    </form>
</main>
