<%-contentFor('content') %>
<main class="container">
    <div id="contact-success-wrapper">
        <div id="contact-success">
            <div id="contact-success-message">
                <div id="contact-success-message-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                    </svg>
                </div>
                <div id="contact-success-message-content">
                    <h3>Message Sent</h3>
                    <div>
                        <p>Thank you <%= pseudo %> for your message</p>
                    </div>
                </div>
            </div>
            <div id="contact-success-button">
                <a href="/">
                    <button type="button" class="btn">Go back to site</button>
                </a>
            </div>
        </div>
    </div>
</main>
