//Backgrounds
$bg-slate: #0f172a;

//Text Color
$text-white: #f8fafc;
$text-dark: #475569;

$text-primary: #2563eb;
$text-secondary: #f59e0b;
$text-support: #facc15;

$text-primary-light: #60a5fa;
//Breakpoints
$breakpoints-sm: 640px;
$breakpoints-md: 768px;
$breakpoints-lg: 1024px;
$breakpoints-xl: 1280px;
