html {
    font-family: $text-font;
}

body {
    color: $text-white;
    background-color: $bg-slate;
    font-size: 16px;
}

.container {
    margin-top: 4rem;
    margin: 0 auto;
    max-width: 80rem;
    padding: 0 1rem;
}

@media (min-width: $breakpoints-sm) {
    .container {
        margin-top: 6rem;
    }
}
