<div id="hero">
    <div class="hero-container">
        <div class="hero-grid">
            <div class="hero-content">
                <div class="hero-content-wrapper">
                    <h1 class="hero-content-title">
                        <span>A better way to</span>
                        <span>buy crypto</span>
                    </h1>
                    <p class="hero-content-text">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui Lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat.</p>
                    <div class="hero-button-section">
                        <div class="btn-cta btn-primary">
                            <a href="/cryptos"> Get Started </a>
                        </div>
                        <div class="btn-cta btn-transparent">
                            <a href="/contact"> Contact </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-image">
                <div>
                    <img src="/assets/img/hero.svg" alt="crypto-logo" />
                </div>
            </div>
        </div>
    </div>
</div>
