<div id="hero">
    <div class="hero-container">
        <div class="hero-grid">
            <div class="hero-content">
                <div>
                    <h1 class="hero-content-title">
                        <span>A better way to</span>
                        <span>buy crypto</span>
                    </h1>
                    <p class="hero-content-text">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui Lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat.</p>
                </div>
            </div>
            <div class="hero-image">
                <div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 lg:max-w-none lg:px-0">
                    <!-- Illustration taken from Lucid Illustrations: https://lucid.pixsellz.io/ -->
                    <img src="/assets/img/hero.svg" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
