<% let {links} = JSON.parse(include('./../../data/content_site.json'));%>

<nav id="wrapper-main-nav" aria-label="Global">
    <div class="wrapper-menu">
        <di id="logo">
            <a href="/">
                <svg fill="none" viewBox="0 0 158 213" xmlns="http://www.w3.org/2000/svg">
                    <path d="m157.8 133.1c0 49-28.7 72.2-64 51.8-35.4-20.4-64-76.7-64-125.7 0-49 28.7-72.2 64-51.8 35.4 20.4 64 76.7 64 125.7z" fill="url(#a)" opacity=".2" />
                    <path
                        d="m68.6 108.8c1.7-0.5 2.6-2.3 2.6-5.4 0-3.2-0.9-6.0005-2.6-8.3005-1.8-2.3-4.4-4.5-7.8-6.4-1.1-0.6-2.3-1.3-3.6-1.9-1.3-0.7-2.4-1.3-3.4-1.7v17.2l6.3 3.6c4 2.3 6.8 3.2 8.5 2.9z"
                        fill="#3B82F6"
                        opacity=".4"
                    />
                    <path
                        d="m61.8 120.6-8.1-4.7v20.6c1 0.7 2 1.4 3 2 1.1 0.7 2.3 1.4 3.6 2.2 3.9 2.2 7 3.3 9.4 3.1 2.4-0.1 3.6-2.3 3.6-6.4 0-3.6-1-6.8-3-9.5s-4.8-5.2-8.5-7.3z"
                        fill="#3B82F6"
                        opacity=".4"
                    />
                    <path
                        d="m64 27.405c-35.4-20.4-64 2.8-64 51.8 0 49 28.7 105.3 64 125.7 35.4 20.4 64-2.8 64-51.8s-28.7-105.3-64-125.7zm15.8 133c-3.4 1.3-8.1 0.6-14.1-2.1v12l-12.3-7.1v-11.9c-0.9-0.5-1.7-1.1-2.6-1.7-3.1-2.1-6.3-4.6-9.7-7.5v-77.4c2.6 0.8 5.5 2 8.7 3.5 1.2 0.5 2.4 1.1 3.6 1.7v-11.9l12.3 7.1-0.1 12.2c1 0.8 2 1.5 2.9 2.3 3.1 2.5 5.8 5.3 8 8.3s3.9 6.4 5.1 10c1.3 3.6003 1.9 7.5003 1.9 11.7 0 6.4-2.2 10.2-6.6 11.3 3.7 4 6.2 8 7.5 12.1 1.3 4 2 8.2 2 12.3 0 8.4-2.2 13.4-6.6 15.1z"
                        fill="#3B82F6"
                        opacity=".4"
                    />
                    <defs>
                        <linearGradient id="a" x1="106.66" x2="77.712" y1="22.938" y2="187.77" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#BFDBFE" offset="0" />
                            <stop stop-color="#BFDBFE" stop-opacity="0" offset="1" />
                        </linearGradient>
                    </defs>
                </svg>
            </a>
        </di>
        <div class="menu">
            <% links.forEach((link)=>{ %>
            <a href="<%= link.url %>"><%= link.name %> </a>
            <% }); %>
        </div>
    </div>
</nav>
