#contact-form {
    padding: 1rem 0;
}

.contact-form-group {
    margin: 1rem 0;
    display: grid;
    gap: 1rem 0;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: $breakpoints-sm) {
    .contact-form-group {
        gap: 4rem;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.contact-input {
    label {
        display: block;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 1.75rem;
        text-transform: capitalize;
    }
    div {
        margin-top: 0.25rem;
        input,
        textarea {
            font-size: 1rem;
            line-height: 1.5rem;
            border-radius: 0.375rem;
            background-color: #334155;
            border: solid #64748b 1px;
            padding: 0.5rem 0.75rem;
            width: 100%;
        }
        input:focus {
            border: solid 1px $text-primary;
            outline: none;
        }
    }
    .input-error-message {
        margin-top: 0.5rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: #dc2626;
    }
}

.contact-input.contact-input-error {
    input,
    textarea {
        color: #dc2626;
        border: solid #dc2626 1px;
        &:focus {
            border: solid 1px #dc2626;
            outline: none;
        }
    }
}
