#crypto-list {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.25rem;
    margin: 4rem 0;
    .crypto-card {
        &:hover {
            background-color: #1e293b;
        }
        display: flex;
        flex-direction: column;
        text-align: center;
        border-radius: 0.5rem;
        grid-column: span 1 / span 1;
        background-color: #334155;
        div {
            display: flex;
            flex: 1;
            flex-direction: column;
            padding: 2rem;
            img {
                width: 8rem;
                height: 8rem;
                flex-shrink: 0;
                margin: 0 auto;
                border-radius: 9999px;
            }
            h3 {
                margin-top: 1.25rem;
                font-weight: 500;
                font-size: 1.125rem;
                line-height: 1.75rem;
            }
            dl {
                margin-top: 0.25rem;
                display: flex;
                flex-grow: 1;
                flex-direction: column;
                justify-content: space-between;
                dd:first-child {
                    // Line Clamp
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 6;
                    overflow: hidden;
                    // Line Clamp
                    font-size: 0.875rem;
                    line-height: 1.25rem;
                    color: #cbd5e1;
                }
                dd {
                    margin-top: 1rem;
                }

                dd:last-child span {
                    padding: 0.25rem 0.5rem;
                    color: #16a34a;
                    font-size: 0.875rem;
                    line-height: 1.25rem;
                    font-weight: 500;
                    background-color: #bbf7d0;
                    border-radius: 9999px;
                }
            }
        }
    }
}

@media (min-width: $breakpoints-sm) {
    #crypto-list {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: $breakpoints-md) {
    #crypto-list {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
