#hero {
    padding-top: 2.5rem;
    background-color: $bg-slate;
    .hero-container {
        margin: 0 auto;
        max-width: 80rem;
        .hero-content {
            margin: 0 auto;
            max-width: 28rem;
            padding: 0 1rem;
            .hero-content-title {
                margin-top: 1rem;
                font-size: 2.25rem;
                line-height: 2.5rem;
                letter-spacing: -0.025em;
                font-weight: 800;
                span {
                    display: block;
                }
                span:last-child {
                    color: $text-primary;
                }
            }
            .hero-content-text {
                margin-top: 1.25rem;
                font-size: 1rem;
                line-height: 1.5rem;
                color: $text-dark-light;
            }
        }
        .hero-image {
            margin-top: 3rem;
            margin-bottom: -4rem;
            div {
                margin: 0 auto;
                max-width: 28rem;
                padding: 0 1rem;
                img {
                    width: 100%;
                }
            }
        }
        .hero-button-section {
            margin-top: 2rem;
        }
        .hero-button-section div {
            margin-top: 0.5rem;
        }
    }
}

@media (min-width: $breakpoints-sm) {
    #hero {
        padding-top: 4rem;
        .hero-content {
            max-width: 42rem;
            padding: 0 1.5rem;
            text-align: center;
            .hero-content-title {
                font-size: 10px;
                line-height: 1rem;
                margin-top: 1.25rem;
            }
            .hero-content-text {
                margin-top: 2rem;
                font-size: 1.25rem;
                line-height: 1.75rem;
            }
        }
        .hero-image {
            margin-bottom: -12rem;
            div {
                max-width: 42rem;
                padding: 0 1.5rem;
            }
        }
        .hero-button-section {
            margin-top: 2rem;
        }
        .hero-button-section div {
            margin-top: 0.5rem;
        }
    }
}

@media (min-width: $breakpoints-lg) {
    #hero {
        padding-top: 2rem;
        padding-bottom: 3.5rem;
        overflow: hidden;
        .hero-container {
            padding: 0 2rem;
            .hero-grid {
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                column-gap: 2rem;
                .hero-content {
                    display: flex;
                    align-items: center;
                    padding: 0 0;
                    text-align: left;
                    .hero-content-wrapper {
                        padding: 6rem 0;
                    }
                    .hero-content-title {
                        font-size: 3.75rem;
                        line-height: 3rem;
                        margin-top: 1.5rem;
                    }
                    .hero-content-text {
                        font-size: 1.125rem;
                        line-height: 1.75rem;
                    }
                }
                .hero-image {
                    margin: 0;
                    position: relative;
                    div {
                        max-width: none;
                        padding: 0 0;
                        img {
                            position: absolute;
                            // top: 0;
                            // bottom: 0;
                            left: 50px;
                            height: 100%;
                            width: auto;
                            max-width: none;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: $breakpoints-xl) {
    #hero {
        .hero-container {
            .hero-grid {
                .hero-content {
                    .hero-content-title {
                        font-size: 3.75rem;
                        line-height: 3rem;
                    }
                    .hero-content-text {
                        font-size: 1.25rem;
                        line-height: 1.75rem;
                    }
                }
            }
        }
    }
}
